###############################################
# Unattended Anaconda Kickstart File for RHEL Server
###############################################
# Un attended install
text --non-interactive

# System language and keyboard layout
lang en_US.UTF-8
keyboard us

timezone America/Chicago --utc

# Root password
rootpw -iscrypted {{ rootpw }}

# Network configuration
device ens192 --bootproto dhcp --onboot yes

network  --bootproto=static --device=ens192 --gateway={{ gateway }} --ip={{ ip }} --nameserver={{ nameservers }} --netmask=255.255.252.0 --noipv6 --activate
network  --hostname={{ hostname }}

# Install RHEL
install --device=/dev/sdX

# Bootloader configuration
bootloader --location=mbr

# Partitioning
clearpart --all --initlabel
autopart --type=lvm

# Skip the initial setup
firstboot --disable

# Disable firewall and SELinux
firewall --disabled
selinux --disabled

# Packages to install
%packages
@server
%end

# Reboot after installation
poweroff